<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ejs</title>
</head>

<body>
  <%
    let a = 12;
    let b = 6;
  -%>
  <%= a+b -%>
  <%arr.forEach(item=>{%>
    <div class="<%= name %>">
      <%=item%>
    </div>
  <%})%>
</body>

</html>
